target/
vendor/
/dist/
**/*.rs.bk
**/*.rs.pending-snap
.idea/*
*.log
*.iml
.vscode/settings.json
.vim/coc-settings.json
.DS_Store
/out/
/dump.lsif
.envrc
editors/code/CHANGELOG.md
docs/book/book
docs/book/src/assists_generated.md
docs/book/src/diagnostics_generated.md
docs/book/src/features_generated.md

# Scratch files emitted by ide-assists proof_action runtime
verus_proof_action_scratch_file.*
